<div class="banner mb-3">
  <div class="container">
    <h1>VOTRE EXPERT <span>PISCINES POLYESTER</span></h1>
    <p>SOYEZ PRÊT POUR L’ÉTÉ !</p>
    <div>
      <a href="#" class="btn-primary-lg m-2">OBTENIR UN DEVIS</a>
      <a href="#" class="btn-secondary-lg m-2">NOS MODELES PISCINES</a>
    </div>
  </div>
</div>
