<div class="banner">

  <div class="wrapper-container wrapper--narrow">
    <video autoplay name="media" style="justify-self:center" >
     <source src="./assets/images/brillance-piscine-promo.mp4" type="video/mp4"> 
    </video>
    <%# <h1 class="text-center"><span>Un été sous le soleil 🍹 avec</span> Brillance Piscine !</h1> %>
    <div class="call-action">
      <div class="call-action-devis">
        <%= link_to "OBTENIR UN DEVIS", "contact", class: "btn-primary-lg m-2" %>
      </div>
      <div class="call-action-pool">
        <%= link_to "NOS MODELES PISCINES", "piscines", class: "btn-secondary-lg m-2" %>
      </div>
    </div>
  </div>
</div>
