<div class="banner mb-3">
  <div class="container">
    <h1>VOTRE EXPERT <span>PISCINES POLYESTER</span></h1>
    <p class="mt-5">PROFITEZ DE VOTRE ÉTÉ !</p>
    <div>
      <%= link_to "OBTENIR UN DEVIS", "contact", class: "btn-primary-lg m-2" %>
      <%= link_to "NOS MODELES PISCINES", "piscines", class: "btn-secondary-lg m-2" %>
    </div>
  </div>
</div>
