<div class="banner mb-3">
  <div class="container">
  <div class="marquee-rtl">
    <div class="defile">
        INFO DOUCEUR PISCINE SUPER PROMO jusqu'au 26 Juin, pour l'achat d'une piscine pret-au-bain jusqu'à 3200 euros d'équipements offerts.
    </div>
  </div>
    <h1>VOTRE EXPERT <span>PISCINES POLYESTER</span></h1>
    <p class="mt-5">PROFITEZ DE VOTRE ÉTÉ !</p>
    <div>
      <%= link_to "OBTENIR UN DEVIS", "contact", class: "btn-primary-lg m-2" %>
      <%= link_to "NOS MODELES PISCINES", "piscines", class: "btn-secondary-lg m-2" %>
    </div>
  </div>
</div>
