<div class="banner">
  <div class="headband">
    <div class="defile">
        INFO Brillance PISCINE SOLDES 70% de remise sur les équipements optionnels lors de l'achat de votre piscine pret-au-bain du 30 JUIN au 27 Juillet. ATTENTION ! Dernière promotion avant les fortes hausses de prix de la rentrée.
    </div>
  </div>
  <div class="wrapper-container wrapper--narrow">
    <h1 class="text-center"><span>Un été sous le soleil 🍹 avec</span> Brillance Piscine !</h1>
    <div class="call-action">
      <div class="call-action-devis">
        <%= link_to "OBTENIR UN DEVIS", "contact", class: "btn-primary-lg m-2" %>
      </div>
      <div class="call-action-pool">
        <%= link_to "NOS MODELES PISCINES", "piscines", class: "btn-secondary-lg m-2" %>
      </div>
    </div>
  </div>
</div>
