<div class="block-pool-compo">
  <div class="pool-container pool--narrow py-5">
    <h2>Decouvrez nos piscines de référence ou composez la votre.</h2>
    <div class="pool-composable">
      <div class="pool-text">
        <p><span>Brillance piscine</span> vous propose de personnaliser votre piscine dans les moindres détails. Piscine rectangulaire, haricot ou formes originales, avec des escaliers ou une banquette, il vous suffit de choisir les éléments adaptés à votre environnement.</p>
        <p>Le meilleur de la piscine polyester associé à des <span>escaliers-plages conviviaux</span> vous permettant de profiter au mieux de votre piscine
        tout en conservant une <span>surface de nage optimisée</span>.</p>
        <p>En partant de la base de votre choix (Blue Pearl, Sweety, Spicy, Lagoon, Récif), composez vous-mêmes votre <span>piscine</span> en y ajoutant
        les escaliers de votre choix (Virgin, Tropical, Paradise). </p>
        <p>Combinables, les escaliers-plages autorisent une multitude de compositions afin de <span>personnaliser votre piscine</span> en fonction de vos choix et de vos envies.</p>
      </div>
      <div class="pool-croquis">
        <%= svg "pools-croquis" %>
      </div>
    </div>
  </div>
</div>
