<div class="top-bar-section">
  <div class="mx-3">
    <div class="d-flex justify-content-between flex-md-row flex-column p-2">
      <div class="d-inline-flex px-2">
        <span><i class="far fa-clock"></i></span> <p class="pr-3">Mar-Sam:10:00-13:00 / 15:00-19:00 </p><span><i class="fas fa-phone-alt"></i></span> <p>(+33) 05 56 92 62 06</p>
      </div>
      <div class="top-bar-links">
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>

  </div>

</div>
