<div class="top-bar-section">
  <div class="mx-3">
    <div class="d-flex justify-content-between flex-sm-row flex-column p-2">
      <p class="text-center">Douceur Piscine Polyester</p>
      <div class="d-inline-flex px-2">
        <span><i class="far fa-clock"></i></span> <p class="pr-3">Mar-Sam:10:00-13:00 / 15:00-19:00 </p><span><i class="fas fa-phone-alt"></i></span> <p>(+33) 05 56 92 62 06</p>
      </div>
    </div>

  </div>

</div>
