// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue:#6ec3e6;
$blue-medium:#34a8d8;
$magenta: #E40482;
$blue-dark: #2d97c1;
$blue-light:#03d4ef;
$magenta-light:#FF0290;
$yellow: #fbc901;
$yellow-hover:#ffd31b;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$gray-light: #F4F4F4;
