body {
  background-color: $body-bg;
  margin: 0;
  font-family: $body-font;
  font-size: 15px;
  span{
    font-weight:bold;
    color: $blue-dark;
  }
  p{
    margin: 1rem 0;
  }
  h1, h2, h3 {
    color: $blue-dark;
  }

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 20px;
  }

  h3{
    font-size: 16px;
    font-weight: bold;
  }

  .link {
    color: $orange;
    font-weight: bold;
    &:hover{
      color: $yellow;
      text-decoration: none;
    }
  }

  .ic-inner svg{
    font-size: 20px;
    color:$blue-dark;
  }
  #wrapper {
    width: 100%;
    min-height: 600px;
    padding: 0 !important;
    background: $body-bg;
    margin-bottom: 250px;
  }
  .hidden{
    display: none;
  }
}

@media (max-width: 770px) {
  body{
    #wrapper{
      margin-bottom: 570px;
    }

  }
}
