.top-bar-section{
  display:flex;
  flex:justify-content-between;
  background-color: $blue-dark;
  color:white;
  p{
    margin: 0;
    padding-left: 10px;
  }
  svg{
    color:$blue;
  }
}

// @media (max-width: 750px){
//  .top-bar-section{
//   display: block;
//  }
// }


// @media (max-width: 450px){
//   .top-bar-section{
//     display: block;
//   }
// }
