---
title: Contact | Douceur piscine Bordeaux
---

<div class="header-page d-flex justify-content-between align-items-center px-5">
  <div>
    <h1>Contactez Douceur Piscine</h1>
    <p>Votre spécialiste de la piscine coque polyester</p>
  </div>
</div>


<div class="container wrapper-body my-3">
  <div class="py-3">
    <h2>Bénéficiez d'un conseil personnalisé</h2>
    <p>
      Douceur Piscine est à votre disposition pour répondre à toutes vos interrogations relatives à votre projet et réaliser votre étude technique personnalisée. <br>
      Laissez-nous vos coordonnées et nous vous contacterons dans les meilleurs délais.
    </p>

  </div>
  <div class="row">
    <div class="col-12">

      <form class="needs-validation border rounded p-3" novalidate>
          <h3>Vos coordonnées</h3>
        <div class="form-row mb-3">
          <div class="col-md-3 mb-3">
            <label for="validationCustom01">Nom*</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Votre nom" required>
            <div class="valid-feedback">
              Ok!
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom02">Prénom*</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Prénom" required>
            <div class="valid-feedback">
              Ok!
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustomUsername">Email*</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
              </div>
              <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="" required>
              <div class="invalid-feedback">
                Votre email ne semble pas valide.
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustomUsername">Téléphone</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-phone" style="font-size:14px;"></i></span>
              </div>
              <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="">
              <div class="invalid-feedback">
                Votre numéro ne semble pas valide.
              </div>
            </div>
          </div>
        </div>
         <h3>Localisation de votre projet</h3>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">Adresse*</label>
            <input type="text" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
              Votre adresse ne semble pas valide.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">Ville*</label>
            <input class="form-control" id="validationCustom04" required>
            <div class="invalid-feedback">
              Votre Ville ne semble pas valide.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom05">Code postale*</label>
            <input type="text" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
              Votre Code postale ne semble pas valide.
            </div>
          </div>
        </div>
        <h3>Votre projet de piscine</h3>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
             <select class="form-control" id="projet-pour">
               <option>Projet pour ...</option>
               <option>Dès que possible</option>
               <option>Dans 3 mois</option>
               <option>Dans 6 mois</option>
               <option>Dans plus de 6 mois</option>
               <option>Ne sait pas</option>
             </select>
            </div>
          </div>
          <div class="col">
             <div class="form-group pl-2">
               <select class="form-control" id="projet-pour">
                 <option>Intéressé par ...</option>
                 <option>Piscine en Kit</option>
                 <option>Piscine en Kit assisté</option>
                 <option>SPA</option>
                 <option>Ne sait pas</option>
               </select>
             </div>
          </div>
        </div>

          <div class="form-group">
               <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Profitez de cet espace pour poser vos questions ou préciser les détails de votre projet.*" rows="8" required></textarea>
           <div class="invalid-feedback">
             Decrivez en quelques mots votre projet de piscine.
           </div>
           </div>

        <div class="form-group">
          <p>
            Seule notre société est destinataire des informations que vous lui transmettez.
            Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent.
          </p>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Donnez votre accord sur les conditions.
            </label>
            <div class="invalid-feedback">
              Vous devez accepter les conditions.
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Envoyer le message</button>
      </form>


    </div>
  </div>
</div>

  <div class="map py-3">

      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22642.88083271171!2d-0.747288!3d44.814228!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54dad6c010c38d%3A0x2631ffad66a0fcc9!2s572%20Avenue%20de%20Boulac%2C%2033127%20Saint-Jean-d&#39;Illac%2C%20France!5e0!3m2!1sfr!2sus!4v1588387702780!5m2!1sfr!2sus" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    </div>
