---
title: Nos Piscines  | Douceur Piscine
---

<div class="container py-3">

  <div class="cards">
   <% data.piscines.each do |piscine| %>
    <div class= "card" style= "background-image: url(<%= piscine.url %>); height:200px" >
        <p><%= piscine.name %></p>
    </div>
   <% end %>
  </div>


</div>
